
a {
  text-decoration: none;
  color: inherit;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  height: 351px;
}

.footer__left {
  background: #202126;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 62px;
}

.footer__left__pp {
  ont-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #B0F560;
}

.footer__left img {
  width: 164px;
  height: 35px;
  margin-bottom: 35px;
}

.footer__left h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 35px;
}

.footer__left p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  margin-bottom: 15px;
}

.footer__left p:last-child {
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #7C8193;
}

.footer__middle {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  width: 34%;
  background: #2B2D36;
}

.footer__middle-menu {
  display: flex;
  flex-direction: column;
  gap: 98px;
}

.footer__middle-menu-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.footer__middle-menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer__middle-menu-city {
  display: flex;
  gap: 6px;
}

.footer__middle-menu-city-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.footer__right {
  background: #202126;
  width: 33%;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 12px;
}

.footer__right h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 10px;
}

.footer__right img {
  margin-right: 9px;
}

.footer__right-link {
  display: flex;
  gap: 12px;
}

.footer__right__tg-link {
  display: flex;
  background: #2B2D36;
  border-radius: 12px;
  width: 150px;
  height: 44px;
  align-items: center;
  padding-left: 9px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.footer__right__wa-link {
  display: flex;
  background: #2B2D36;
  border-radius: 12px;
  width: 150px;
  height: 44px;
  align-items: center;
  padding-left: 9px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.footer__right__social-link {
  display: flex;
}

.footer__right__social-link p {
  border: 1px solid #B0F560;
  border-radius: 12px;
  width: 38px;
  height: 34px;
  text-align: center;
  margin-right: 5px;
  padding-top: 5px;
}

.text-uppercase {
  text-transform: uppercase;
}
